* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-khmer: "Koulen", sans-serif;
  --body-bg: #fff;
}
@font-face {
  font-family: Koulen;
  src: url(../font/Koulen-Regular.ttf);
}
body {
  background-color: var(--body-bg);
  font-family: "Poppins", sans-serif, var(--font-khmer);
  height: 500vh;
}
.container {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 20px;
}

.sabay-logo {
  width: 100%;
  height: 130px;
  background-color: #373737;
  display: flex;
  align-items: center;
}
.sabay-logo img {
  margin-left: 200px;
  width: 100px;
  height: 100px;
}
nav {
  width: 100%;
  height: 70px;
  background-color: red;
  align-content: center;
  font: var(--font-khmer);
  position: sticky;
  top: 0px;
  z-index: 999;
}
nav .navbar-nav {
  display: flex;
  list-style: none;
  margin-left: 200px;
  padding: 20px;
}
nav .navbar-nav .nav-item {
  margin-right: 20px;
}
nav .navbar-nav .nav-item .nav-link {
  font-size: large;
  font-weight: 800;
  color: #f5d2d2;
  text-decoration: none;
}
nav .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.col-6 {
  flex: 0 0 49%;
}

.col-3 {
  flex: 0 0 24.33%;
}

.card {
  position: relative;
  height: 300px;
  color: white;
  background-size: cover;
  background-position: center;
  padding: 15px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  transition: background 0.3s ease;
  z-index: 1;
}
.card-text {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  padding: 15px;
  color: white;
  z-index: 2;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}
.card:hover .overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7));
}

.card:hover .card-text {
  opacity: 1;
  transform: translateY(0);
  color: #dc3545;
  transition: 0.5s;
}
.card .display-title {
  font-family: "Khmer OS Content";
  font-size: 20px;
  line-height: 1.5;

  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  padding: 15px;
  color: white;
  z-index: 2;
  opacity: 1;
  transform: translateY(30px);
  transition: 0.5s;
}
.card:hover .display-title {
  font-family: "Khmer OS Content";
  font-size: 20px;
  line-height: 1.4;
  opacity: 1;
  transform: translateY(0);
  color: red;
  transition: 0.5s;
}
.card .display-title {
  margin: 0;
  font-size: 20px;
  /* line-height: 1.4; */
  font-weight: 600;
  color: #fff;
  z-index: 100;
}
.card-text h3 {
  margin: 0;
  font-size: 24px;
  /* line-height: 1.4; */
  font-weight: 600;
  color: #fff;
}

.card span {
  font-size: 13px;
  color: #ffffff;
  font-weight: 600;
  z-index: 100;
}
.empty-card-top {
  background-color: #f2f2f2;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border-bottom: #fff solid 10px;
}
.empty-card-bottom {
  background-color: #f2f2f2;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border-top: #fff solid 10px;
}
.label {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 3px;
}
.blue {
  background-color: #007bff;
  z-index: 101;
}
.orange {
  background-color: #fd7e14;
  z-index: 101;
}
.green {
  background-color: #28a745;
  z-index: 101;
}
.red {
  background-color: #dc3545;
  z-index: 101;
}
.tab {
  position: absolute;
  top: -47px;
  left: 0;
  display: flex;
  align-items: center;
  height: 40px;
}

.tab-label {
  background-color: #42a5f5;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-top-left-radius: 3px;
}
.tab-label::after {
  content: ">";
  font-size: larger;
  font-weight: bolder;
  margin-left: 10px;
}
.tab-arrow {
  width: 0;
  height: 0;
  border-width: 50px 0 0 25px;
  border-style: solid;
  border-color: transparent transparent transparent #42a5f5;
}
.tab-container {
  width: 100%;
  max-width: 1470px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-top: 3px solid #42a5f5;
  position: relative;
}

.content {
  height: 400px;
  padding: 20px;
}
